body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#chat {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}


#login-form,
#signup-form {
    text-align: center;
}

#signup-form {
    display: none;
}

#show-signup,
#show-login {
    background-color: transparent;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}

/* Chat Room Styles */
#chat-room {
    display: none;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#messages li {
    padding: 8px 16px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#messages li:nth-child(odd) {
    background: linear-gradient(135deg, #1f0036, #3a0ca3, #4361ee);
    color: #e0e0e0;
    border-radius: 5px;
    padding: 8px 16px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(67, 97, 238, 0.6);
}


#form {
    margin-top: 20px;
}

#input {
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#input:focus {
    outline: none;
}

button[type="submit"] {
    width: 60px;
}

